body {
    margin: 0;
    padding-top:80px;
    font-family: "Times New Roman", serif;
    background-color: #f8f9fb;
    color: #333;
}

/* HEADER */
.header {
   position:fixed;
   top:0;
   width:100%;
   background:#0f4c81;
   color:white;
   z-index:1000;
   box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.header-container{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 20px;
}

.logo-area{
    display:flex;
    align-items:center;
}

.logo-area img{
    width:55px;
    margin-right:10px;
}

.logo-text{
    font-size:14px;
}

.header h1 {
    margin: 0;
    font-size: 28px;
    letter-spacing: 1px;
}
.home-icon{
   vertical-align: middle;
}

/* NAV */
.nav a {
    color:white;
    margin-left:20px;
    text-decoration: none;
    font-weight: 500;
}

.nav a:hover {
    text-decoration: underline;
}

/* INTRO */
.intro {
    max-width: 900px;
    margin: 40px auto;
    text-align: center;
}

/* SEARCH */
.search-section {
    text-align: center;
    margin: 30px 0;
}

#searchInput {
    width: 60%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
}

#categoryFilter{
    padding:10px;
    border-radius:4px;
}

/* CONTENT */
.content {
    max-width: 900px;
    margin: 40px auto;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #e0e0e0;
}

/* CODE */
pre {
    background: #f1f1f1;
    padding: 10px;
    overflow-x: auto;
}

/* FOOTER */
.footer {
    text-align: center;
    background: #0f4c81;
    color: white;
    padding: 10px;
    margin-top: 50px;
}
.footer-container{
    display:flex;
    justify-content:space-between;
}
.footer-left{
    text-align:left;
}
.footer-right{
    text-align:right;
}

.intro{
	.max-width:900px;
	margin:50px auto;
	line-height:1.7;
	text-align:justify;
}
.intro h3{
	margin-top:30px;
	color:#0f4c81;
}
.intro h4{
	margin-top:20px;
	font-weight:bold;
}

/*SECTION TITLE*/
.intro-section{
    min-height:300px;
}

.section-title{
    text-align:center;
    margin:60px 0 40px;
    color: #0f4c81;
}

/*GIRD 3 CỘT*/
.intro-grid{
    max-width:1100px;
    margin:auto;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

/*BOX*/
.intro-box{
    background: white;
    padding:25px;
    border:1px solid #e0e0e0;
    border-radius:8px;
    text-align:justify;
    transition:0.3s;
}

/*HOVER NHE*/
.intro-box:hover{
    box-shadow:0 10px 25px  rgba(0,0,0.0.08);
    transform: translateY(-5px);
}

/*TIÊU ĐỀ TRONG BOX*/
.intro-box h3{
    color:#0f4c81;
    margin-bottom:15px;
}

.icon{
    font-size:40px;
    margin-bottom: 15px;
}

.reveal{
    opacity:0;
    transform:translate(40px);
    trainsition:all 0.8 ease;
}

.reveal.active{
    opacity:1;
    trainsform:translateY(0);
}

/*.innovation{
    background:#eef2f7;
    padding:50px;
    text-align:center;
}*/

.stats{
    display:flex;
    justify-content:center;
    gap:40px;
    padding:40px;
    background:#eef2f7;
    font-weight:bold;
}


/*index*/
.home-preview{
    padding:60px 10%;
    background:#f4f6f9;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:30px;
}
.preview-card{
    background:#ffffff;
    padding:30px;
    border-radius:12px;
    box-shadow:0 6px 20px rgba(0,0,0,0.08);
    transition:0.3s ease;
}
.preview-card:hover{
    transform:translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}
.preview-card h3{
    color:#1f4e79;
    margin-bottom:15px;
}
.preview-card p{
    line-height:1.7;
    color:#444;
    margin-bottom:15px;
}
.preview-card ul{
    padding-left:18px;
    margin-bottom:15px;
}
.mini-link{
    text-decoration:none;
    font-weight:600;
    color:#1f4e79;
}
.mini-link:hover{
    color:#163a5a;
}
/*Theo phong cach bgd*/
.hero-bogd{
    /*background:linear-gradient(to right,#2f5f8f,#4a7fb0);*/
    background-color:#2f5f8f;
    background-image:url("images/banner2.png");
    background-repeat:no-repeat;
    background-image:right center;
    background-size:300px;
    color:white;
    padding:40px 10%;
    text-align:center;
    overflow:hidden;
    border-bottom: 6px solid #2f5f8f;  
}
.hero-bogd *{
    position:relative;
    z-index:1;
}
.hero-bogd h2{
    font-size:18px;
    letter-spacing:2px;
    margin-bottom:15px;
}
.hero-bogd h1{
    font-size:34px;
    font-weight:700;
    margin-bottom:20px;
}
.hero-bogd p{
    font-size:18px;
    opacity:0.9;
}
.home-bogd{
    padding:20px 10%;
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    background:#f4f6f9;
}

.bogd-card{
    background:#ffffff;
    padding:25px 28px;
    border-radius:10px;
    box-shadow:0 6px 18px rgba(0,0,0,0.08);
    transition:all 0.3s ease;
    position:relative;
}
.bogd-card h3{
     font-size:20px;
    font-weight:700;
    margin-bottom:12px;
    color:#0d3b66;
}
.bogd-card p{
    line-height:1.7;
    margin-bottom:15px;
}
.bogd-card:hover{
    transform:translateY(-5px);
    box-shadow:0 12px 28px rgba(0,0,0,0.15);
}



.bogd-card a{
    display:inline-block;
    margin-top:12px;
    padding:8px 16px;
    background:#1976d2;
    color:white;
    text-decoration:none;
    border-radius:6px;
    font-size:14px;
    transition:0.3s;
}
.bogd-card a:hover{
    text-decoration:underline;
}
.thongbao{
    margin:40px 10%;
    padding:10px;
    background:#fff8e1;
    border-left:5px solid #f4b400;
}
.thongbao h2{
    color:#b26a00;
    margin-bottom:15px;
}
.thongbao ul{
    padding-left:20px;
}
.thongbao li{
    margin-bottom:8px;
}
/*.tintuc{
    padding:50px 10%;
    background:#f4f6f9;
}
.tintuc h2{
    text-align:center;
    margin-bottom:40px;
    color:#1f4e79;
}
.tintuc-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}
.new-card{
    background:white;
    padding:20px;
    border:1px solid #dcdcdc;
}
.new-card h3{
    margin-bottom:10px;
    color:#1f4e79;
}*/


/*thuatngu*/
.main-container{
    width:100%;
    padding:20px 20px;
    max-width:1400px;
    display:flex;
    grap:30px;
    align-items:stretch;
}
.sidebar{
    width:22%;
    position:sticky;
    top:120px;
    height:fit-content;
    background:#f4f6f8;
    padding:20px;
    border-radius:10px;
    border:1px solid #ddd;
}
.sidebar ul{
    list-style:none;
    padding-left:0;
}
.sidebar li{
    margin-bottom:14px;
}
.sidebar a{
    display:block;
    text-decoration:none;
    color:#1b3f6b;
    font-size:16px;
    font-weight:600;
    transition:0.2s;
}
.sidebar a:hover{
    border-left:4px solid #0f4c81;
    background:#e9f2fb;
}
.content-display{
    width:78%;
    padding:30px;
    background:#ffffff;
    border-radius:8px;
    border:1px solid #ddd;
    min-height:350px;
}
.sidebar,.content-display{
    min-height:500px;
}
.tag {
    display: inline-block;
    background-color: #e6e6e6;
    padding: 4px 8px;
    border-radius: 6px;
    font-family: monospace;
}
.control-structure{
    padding:20px;
    line-height:1.6;
}
.code-box{
    background:#f4f6f8;
    padding:15px;
    margin:15px 0;
    border-left:4px solid #1b2f6b;
    border-radius:6px;
}
pre{
    background:#272822;
    color:#f8f8f2;
    padding:12px;
    border-radius:6px;
    overflow-x:auto;
}
table{
    width:100%;
    margin-top:10px;
    border-collapse:collapse;
}
th{
    background:#1b2f6b;
    color:white;
}
.function-section{
    padding:20px;
    line-height:1.7;
}
.function-section h2{
    color:#1b3f6b;
}
.compare-table{
    width:100%;
    border-collapse:collapse;
    margin-top:10px;
}
.compare-table th{
    background:#1b3f6b;
    color:white;
    padding:8px;
}
.compare-table td{
    padding: 8px;
    border: 1px solid #ddd;
}
.array-section{
    padding:20px;
    line-height:1.7;
}
.array-section h2{
    color:#1b3f6b;
}
.io-section{
    padding:20px;
    line-height:1.7;
}
.basic-terms{
    padding:20px;
    line-height:1.7;
}
.basic-terms h2{
    color:#1b3f6b;
}



@media(max-width:900px){
    .intro-grid{
        grid-template-columns:1fr;
    }
}
